<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workouts</title>
  <link rel="stylesheet" href="/styles.css"> 
</head>
<body>

  <h1>All Workouts</h1>

  <!-- list of workouts -->
  <ul>
    <% workouts.forEach(workout => { %>
      <li>
        <strong><%= workout.name %></strong><br>
        <em>Duration:</em> <%= workout.duration %> minutes<br>
        <em>Calories Burned:</em> <%= workout.caloriesBurned %> calories
        <br>
        <em>Type:</em> <%= workout.type %><br>
        <em>Intensity:</em> <%= workout.intensity %>
      </li>
    <% }) %>
  </ul>

</body>
</html>
